*{
		font-family: sans-serif;
	}
	.container{
		max-width: 1140px;
		margin: auto;
		padding: 5px 10px;
	}
	h1,form{
		text-align: center;
	}
	form {
   
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
	}
	/* form Container */
	form .con {
	    display: -webkit-flex;
	    display: flex;
	  
	    -webkit-justify-content: space-around;
	    justify-content: space-around;
	  
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	  
	    margin: 0 auto;
	}
	/* //////////////////////////////////////////// */
	/* //////////////////////////////////////////// */


	.input-item {
	    background: #a6a692;
		color: #fbf6f6;
		padding: 8px 8px;
		border-radius: 5px 0px 0px 5px;
		width: 20px;
		display: inline-block;
	}
	.input_group{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	/* inputs form  */
	input[class="form-input"]{
	    width: 90%;
		height: 27px;
		border: 1px solid #a6a692;
		font-size: 16px;
		font-family: 'Abel', sans-serif;
		color: #5E6472;
		outline: none;
		transition: 0.2s linear;
		border-radius: 0 4px 4px 0;
		padding: 5px;	
	}
	/* focus  */
	input:focus {
	    transform: translateX(-2px);
	    border-radius: 5px;
	}
	/* buttons  */
	button {
	    display: inline-block;
		color: #fff;
		width: 100px;
		padding: 10px;
		background: #11957c;
		border-radius: 4px;
		outline: none;
		border: none;
		cursor: pointer;
		text-align: center;
		transition: all 0.2s linear;
		margin: 10px auto;
		letter-spacing: 0.05em;
	}
	/* buttons hover */
	button:hover {
	    transform: translatey(3px);
	    box-shadow: none;
	}

	
	#table {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	#table td, #table th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#table tr:nth-child(even){background-color: #f2f2f2;}

	#table tr:hover {background-color: #ddd;}

	#table th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #04AA6D;
	  color: white;
	}
	#table tfoot tr{
	  background-color: #fff34e;
	}